<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
        >
</head>
<body>
    <section class="section">
        <h1 class="title" id="title">REGISTER</h1>
    </section>
    <div class="container pl-5">
        {{ form.non_field_errors }}
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <table>  
                {{ form.as_table }}  
                 <tr>  
                    <td></td>  
                    <td><input type="submit" class="button is-link" value="Register" /></td>  
                </tr>  
             </table> 
        </form>
    </div>
</body>
</html>