{% extends 'layout.html' %}
{% load static %}
{% block title %}Create Event{% endblock %}
{% block head %}Create Event{% endblock %}

{% block content %}
    <form class = "form-group" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ tform.management_form }}
        {{ form }}
        <p class="h4 my-4"> Tickets </p>
        {% for form1 in tform %}
            <label for="">Name:</label>
            {{form1.name}}
            <label for="">Price:</label>
            {{form1.price}}
            <label for="">Amount:</label>
            {{form1.amount}}
        {% endfor %}
        <button class="btn btn-success my-4" type="submit">Save</button>
    </form>
    
{% endblock %}
